.slide2 {
  height: 100%;
  display:flex;
  flex-direction: column;

  .slide2__text {
    display: flex;

    .slide2__image-up {
      align-self: flex-end;
      margin-bottom: 50px;

      img {
        width:100%;
      }
    }

    .slide2__content {
      margin-top:32px;
      margin-left:20px;
      .slide2__item {
        padding-bottom: 24px;
        padding-left: 24px;

        span {
          color: #7C7E92;
        }
      }
    } 
  }
}