.slide4 {
  
  @media (max-width: $tablet ) {
    display: flex;
    flex-direction: column;
  }
  
  input {
    display: none;
  }

  &__card {
    margin-top: -30px;

    &-image {
      width: 100%;
    }
  }

  &__button-card {
    text-align: center;
  }

  &__check-button {

    &:before {

    }

    &--black {

      &:before {

      }
    }

    &--white {

      &:before {

      }
    }
  }

  &__check-button-white {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 56px;
  }

  &__check-button--white::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #C2C3CC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(124, 126, 146, 0.24);
    transform: scale(1);
    transition: .4s ease-in-out;
  }

  input:checked+&__check-button-white::before {
    transform: scale(1.5);
  }

  &__check-button-black {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  &__check-button-black::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    background: #000000;
    transform: scale(1);
    transition: .4s
  }

  input:checked+&__check-button-black::before {
    transform: scale(1.5);
  }

  &__card-info {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    color:#B0B2BE;
    text-align: center;
    padding-bottom: 8px;
    margin-top: -100px;
  }

  &__variation {
    margin-top: 24px;
  }

  &__list {
    list-style: none;
    margin-left: 100px;
    padding-left: 20px;
    border-left: 5px solid #5D88FC;
    font-size: 18px;
    line-height: 28px;
  }

  &__item:first-child {
    font-weight: bold;
  }

  &__item:last-child {
    color:#7C7E92;
    max-width: 320px;
  }

  &__Team {
    margin-right: 35px;
  }

  &__footer-logo {
    display: flex;
    margin-bottom: 48px;
  }

  &__logo-head {
    font-size: 48px;
    line-height: 72px;
    font-weight: normal;
    color: #3B3E5B;
  }

  &__logo-info {
    display: flex;
    flex-direction: column;
  }

  &__logo-info {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #7C7E92;
    max-width: 299px;
  }

  &__agreement {
    display: flex;
    flex-direction: column;
  }

  &__click {
    position: relative;
    min-width: 24px;
    height: 24px;
    transition: background 150ms ease-in-out;

    &:hover{
      background: rgba(93, 136, 252, 0.16);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #C2C3CC;
      border-radius: 2px;
    }
  }

  &__checkbox {
    display: flex;
  }

  input:checked+&__click::before{
    border: none;
    background: url(Image/body.svg) center/contain no-repeat;
  }

  &__item-agree {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7C7E92;
    padding-left: 24px;
    padding-bottom: 16px;
    max-width: 432px;
  }

  &__button-upgrade {
    background: linear-gradient(90deg, #6A56CA 0%, #21268C 100%);
    box-shadow: 0px 8px 16px rgba(106, 86, 202, 0.3);
    border-radius: 56px;
    width: 288px;
    height: 56px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

     @media (max-width: $tablet) {
       margin: auto;
       width: 310px;
       
     }
  }

  &__button-info {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }

  &__form-right {
    margin-top: 90px;
  }
}