.slide2 {
  height: 100%;
  display:flex;
  flex-direction: column;

  &__container {
    display: flex;
    max-width: 1100px;

    @media (max-width:$desktopSmaller) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__top-content {
    margin: 0 100px 120px 120px;

    @media (max-width:$desktopSmaller) {
      margin: 0;
      margin-left: -50px;

      @media (max-width:$mobileSmall) {
        margin-left: 10px;
      }
    }
  }

  &__head {
    padding-bottom: 32px;
  }

  &__image-up {
    align-self: flex-end;
    margin-bottom: 100px;
    padding: 30px;

    @media (max-width:$desktopSmaller) {
      padding: 0;
    }

    .image-up {
      width:100%;
    }
  }

  &__image-bottom {

    .image-bottom {
      margin-right: 100px;
      margin-left: -100px;
      width: 100%;

      @media (max-width:$desktopSmaller) {
        margin: 0;
        margin-bottom: 40px;
        margin-top: 100px;

      }
    }
  }

  &__info {
    margin-bottom: 32px;
  }

  &__list {
    margin-left:20px;
  } 

  &__item {
    padding-bottom: 24px;
    padding-left: 24px;  
    white-space: nowrap;      

    span {
      color: #7C7E92;
    }
  }
}

.revers {
      
  @media (max-width:$desktopSmaller) {
    flex-direction: column-reverse;
  }  
}