@media (max-width: 1024px) {
  .slide1 {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    height: 100%;
    padding-bottom: 57px;
  }
}

.slide1__logo-content {
  margin: 10px 6% 10px 4%;
}

.slide1__info {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 18px 0 56px;
}

.slide1__logo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px #312C94;
          box-shadow: 0px 8px 16px #312C94;
  border-radius: 80px;
  color: #5E4FC0;
  width: 196px;
  height: 56px;
}

@media (max-width: 767px) {
  .slide1__logo-button {
    margin: auto;
    margin-bottom: 10px;
    width: 311px;
    height: 56px;
  }
}

.slide1__shop {
  margin: 10px 10px 100px;
}

@media (max-width: 1024px) {
  .slide1__shop {
    margin-bottom: 0;
    text-align: center;
  }
}

.slide1__slide1__image {
  height: auto;
  width: 100%;
}

@media (max-width: 500px) {
  .slide1__slide1__image {
    width: 65%;
  }
}

.slide2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
}

@media (max-width: 1199px) {
  .slide2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide2__top-content {
  margin: 0 100px 120px 120px;
}

@media (max-width: 1199px) {
  .slide2__top-content {
    margin: 0;
    margin-left: -50px;
  }
}

@media (max-width: 1199px) and (max-width: 500px) {
  .slide2__top-content {
    margin-left: 10px;
  }
}

.slide2__head {
  padding-bottom: 32px;
}

.slide2__image-up {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 100px;
  padding: 30px;
}

@media (max-width: 1199px) {
  .slide2__image-up {
    padding: 0;
  }
}

.slide2__image-up .image-up {
  width: 100%;
}

.slide2__image-bottom .image-bottom {
  margin-right: 100px;
  margin-left: -100px;
  width: 100%;
}

@media (max-width: 1199px) {
  .slide2__image-bottom .image-bottom {
    margin: 0;
    margin-bottom: 40px;
    margin-top: 100px;
  }
}

.slide2__info {
  margin-bottom: 32px;
}

.slide2__list {
  margin-left: 20px;
}

.slide2__item {
  padding-bottom: 24px;
  padding-left: 24px;
  white-space: nowrap;
}

.slide2__item span {
  color: #7C7E92;
}

@media (max-width: 1199px) {
  .revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.slide3 {
  padding: 50px 50px 0;
}

@media (max-width: 1024px) {
  .slide3 {
    padding: 50px;
  }
}

.slide3__container {
  position: relative;
  max-width: 1440px;
}

@media (max-width: 1024px) {
  .slide3__container {
    margin-left: -20%;
  }
}

.slide3__step {
  margin-bottom: -20px;
}

@media (max-width: 1024px) {
  .slide3__step {
    margin: 0;
  }
}

.slide3__step-image {
  width: 100%;
}

@media (max-width: 1024px) {
  .slide3__step-image {
    display: none;
  }
}

.slide3__list {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .slide3__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide3__item {
  position: absolute;
}

@media (max-width: 1024px) {
  .slide3__item::before {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    counter-increment: list;
    content: counter(list);
    background: url(Image/Polygon.svg) center/contain no-repeat;
  }
}

@media (max-width: 1024px) {
  .slide3__item {
    position: relative;
    counter-increment: list 0;
    padding-bottom: 48px;
    padding-left: 60px;
    left: 0;
    top: 0;
  }
  .slide3__item:last-child {
    padding-bottom: 0;
    max-width: 226px;
  }
}

@media (min-width: 1025px) {
  .slide3__item:first-child {
    top: 45%;
    left: 23%;
  }
  .slide3__item:nth-child(2) {
    top: 34%;
    left: 49%;
  }
  .slide3__item:last-child {
    top: 20%;
    left: 74%;
    max-width: 226px;
  }
}

@media (min-width: 1025px) and (max-width: 1024px) {
  .slide3__item:last-child {
    padding: 0;
  }
}

.slide3__head {
  padding-left: 18%;
  padding-bottom: 14px;
}

@media (max-width: 1024px) {
  .slide3__head {
    display: none;
  }
}

@media (max-width: 1024px) {
  .slide4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide4 input {
  display: none;
}

.slide4__card {
  margin-top: -30px;
}

.slide4__card-image {
  width: 100%;
}

.slide4__button-card {
  text-align: center;
}

.slide4__check-button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

input:checked + .slide4__check-button::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.slide4__check-button:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.slide4__check-button--black:before {
  border-radius: 50%;
  background: #000000;
}

.slide4__check-button--white {
  margin-right: 56px;
}

.slide4__check-button--white:before {
  background: #FFFFFF;
  border: 2px solid #C2C3CC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(124, 126, 146, 0.24);
          box-shadow: 0px 4px 4px rgba(124, 126, 146, 0.24);
}

.slide4__card-info {
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  color: #B0B2BE;
  text-align: center;
  padding-bottom: 8px;
  margin-top: -100px;
}

.slide4__variation {
  margin-top: 24px;
}

.slide4__list {
  list-style: none;
  margin-left: 100px;
  padding-left: 20px;
  border-left: 5px solid #5D88FC;
  font-size: 18px;
  line-height: 28px;
}

.slide4__item:first-child {
  font-weight: bold;
}

.slide4__item:last-child {
  color: #7C7E92;
  max-width: 320px;
}

.slide4__Team {
  margin-right: 35px;
}

.slide4__footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.slide4__logo-head {
  font-size: 48px;
  line-height: 72px;
  font-weight: normal;
  color: #3B3E5B;
}

.slide4__logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide4__logo-info {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #7C7E92;
  max-width: 299px;
}

.slide4__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide4__click {
  position: relative;
  min-width: 24px;
  height: 24px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.slide4__click:hover {
  background: rgba(93, 136, 252, 0.16);
}

.slide4__click::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #C2C3CC;
  border-radius: 2px;
}

.slide4__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input:checked + .slide4__click::before {
  border: none;
  background: url(Image/body.svg) center/contain no-repeat;
}

.slide4__item-agree {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7C7E92;
  padding-left: 24px;
  padding-bottom: 16px;
  max-width: 432px;
}

.slide4__button-upgrade {
  background: -webkit-gradient(linear, left top, right top, from(#6A56CA), to(#21268C));
  background: linear-gradient(90deg, #6A56CA 0%, #21268C 100%);
  -webkit-box-shadow: 0px 8px 16px rgba(106, 86, 202, 0.3);
          box-shadow: 0px 8px 16px rgba(106, 86, 202, 0.3);
  border-radius: 56px;
  width: 288px;
  height: 56px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .slide4__button-upgrade {
    margin: auto;
    width: 310px;
  }
}

.slide4__button-info {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.slide4__form-right {
  margin-top: 90px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 100vw;
  padding: 80px 40px;
}

@media (max-width: 500px) {
  body section {
    padding: 40px 10px;
  }
}

body section section:not(.back) {
  color: #252849;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

body .back {
  background: -webkit-gradient(linear, left top, right top, from(#6A56CA), to(#21268C));
  background: linear-gradient(90deg, #6A56CA 0%, #21268C 100%);
  color: #fff;
}

body h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.25px;
  white-space: nowrap;
}

@media (max-width: 500px) {
  body h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
/*# sourceMappingURL=base.css.map */