@import "variables";
@import "_slide1.scss";
@import "_slide2.scss";
@import "_slide3.scss";
@import "_slide4.scss";

* {
    padding:0;
    margin:0;
}

body {
  font-family: 'Montserrat', sans-serif;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width:100vw; 
    padding:80px 40px;

    @media (max-width:$mobileSmall) {
      padding: 40px 10px;
    }

    section:not(.back) {
      color: #252849;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }

  

  .back {
      background: $bg;  
      color: #fff; 
  }

  h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 34px;
      line-height: 51px;
      letter-spacing: 0.25px;
      white-space: nowrap;

      @media (max-width:500px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;

      }
  }
  
}